<?xml version="1.0" ?>
<widget xmlns	= "http://www.w3.org/ns/widgets"
		xmlns:gap = "http://phonegap.com/ns/1.0"
		id		= "com.mundomed.www">
	<name>MundoMed</name>
	<description>Aplicativo para marcar e ver consultas do MundoMed</description>
	<author href="http://www.imagineseusite.com.br" email="atendimento@imagineseusite.com.br">Imagine Comunicação Digital</author>  
	
   <preference name="phonegap-version" value="3.5.0" /> <!-- all: current version of PhoneGap -->
<preference name="orientation" value="default" /> <!-- all: default means both landscape and portrait are enabled -->
<preference name="target-device" value="universal" /> <!-- all: possible values handset, tablet, or universal -->
<preference name="fullscreen" value="true" /> 
	
</widget>
